{{ define "create" }}

{{ template "header" }}

<main class="px-3">
    <h1>Форма добавления статьи</h1>
    <form action="/save_article" method="post">
        <input type="text" name="title" id="title" placeholder="Введите название статьи" class="form-control"><br>
        <textarea name="anons" id="anons" placeholder="Введите анонс статьи" class="form-control"></textarea><br>
        <textarea name="full_text" id="full_text" placeholder="Введите текст статьи" class="form-control"></textarea><br>
    <button class="btn btn-warning">Добавить</button>
    </form>

</main>

{{ template "footer" }}

{{ end }}